project:
  type: book
  output-dir: ../leitfaden_book

lang: de

book:
  title: "Wissenschaftliches Arbeiten"
  author: "Lehrstuhl | Juniorprofessur für Kommunikationswissenchaft"
  date: "last-modified"
  date-format: "DD.MM.YYYY"
  #cover-image: img/pawel-czerwinski-unsplash.jpg

  
  downloads: [pdf, epub]
  favicon: img/logo.svg
  repo-url: https://github.com/faucommsci/wissenschaftliches_arbeiten
  repo-actions: [issue]
  page-navigation: true
  
  page-footer:
    right: |
      Lehrstuhl & Juniorprofessur für Kommunikationswissenschaft
    left: |
      FAU Erlangen-Nürnberg, WiSo

  navbar:
    logo: img/fau_wiso_white.svg
    #background: "#04316a"
    #foreground: "#E6002E"
    search: true
    collapse: true
    border: true

    right:
      - icon: house
        href: https://www.kowi.rw.fau.de/
        aria-label: Home
      - icon: house-fill
        href: https://www.kommunikationswissenschaft.rw.fau.de/



  chapters:
    - index.qmd
    - part: Leitfaden
      chapters:
        - allgemeine_hinweise.qmd
        - abschlussarbeit.qmd
        - formalia.qmd
        - inhalte.qmd
        - literaturrecherche.qmd
        - open_science.qmd
        - zitieren.qmd
        - literatur.qmd

bibliography: references.bib

format:
  html:
    default-image-extension: svg
    theme: 
      - ../theme/theme.scss
    link-external-icon: True
    link-external-newwindow: True
    link-external-filter: '^(?:http|https):\/\/faucommsci.github.io'
    csl: ../theme/apa.csl
    number-depth: 4
  pdf:
    default-image-extension: png
    documentclass: scrreprt
    latex-auto-mk: true
    pdf-engine: xelatex
    latex-output-dir: pdf
    csl: ../theme/apa.csl 
    number-depth: 2
  epub:
    csl: ../theme/apa.csl
    number-depth: 2
    default-image-extension: svg
    #epub-cover-image: img/pawel-czerwinski-unsplash.jpg
    

    




